body {background: ivory}
h1 {color: indianred;
    border: 5px solid indianred;}
h2, p, h3, ul {color: indianred;}
body, h1, h2, h3, h4, h5, h6 {
    font-family: Geneva, Verdana, sans-serif;
  }
